{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}

    <section class="container-fluid banner-bp"></section>

    <div class= "container" style="margin-bottom: 100px; margin-top: 50px">
        <div class="row">
            <div class="col-12">
                 <h4>Hartelijk dank voor uw registratie op Promotip!</h4>
                  <p><br>Om uw registratie te vervolledigen, dient u uw account te bevestigen via de link die u per e-mail heeft ontvangen.
                      <br>Hierna kunt u meteen beginnen met het promoten van uw bedrijf of event!</p>
            </div>
            <div class="col-12">
                        <p><h6>Heeft u geen e-mail ontvangen?</h6>
                    Kijk dan even uw spamfolder of ongewenste berichten na.
                    <br>Mogelijk is uw activatie e-mail in één van deze folders terechtgekomen.</p>
            </div>
        </div>
    </div>


{% endblock %}
