<h5 class="card-title text-uppercase text-gray fw-300 m-0 p-0">
    <a href="{{ url('company_company', {'province' : province.nameDirify, 'city' : city.localityDirify, 'company' : company.companynameSlug }) }}" class="text-gray">{{ company.companyname }}</a>
</h5>