{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="container-fluid bg-category">
        <div class="d-flex justify-content-center align-items-center text-white text-uppercase fw-800" style="height:240px;">
        <h1>{% trans %}Categorie{% endtrans %}</h1></div>
    </div>
{% endblock %}
