{% extends 'dashboard.html.twig' %}

{% block title %}{% trans %} Help | Promotip {% endtrans %}{% endblock %}

{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="border-radius-20 xs-box-gradborder xs-legals-page md-box-gradborder mt-5"
                     style="padding-left: 10px;">
                    <p><h6 class="xs-txt-purple xs-mb-1 text-purple">Hoe plaats ik een advertentie?</h6>
                    Klik hiervoor op uw dashboard op het tabblad <a href="{{ url('dashboard_event') }}"
                                                                    class="xs-txt-purple"><strong>"Mijn
                            Advertenties"</strong></a> en vervolgens op <strong>"Nieuw Evenement"</strong>.</p>
                    <br>
                </div>

                <div class="border-radius-20 xs-box-gradborder xs-legals-page md-box-gradborder mt-5"
                     style="padding-left: 10px;">
                    <p><h6 class="xs-txt-purple xs-mb-1 text-purple">Hoe beheer ik mijn advertentie of hoe pas ik deze
                        aan?</h6>
                    U kunt uw advertentie(s) beheren/aanpassen via uw dashboard. Klik op "Mijn Advertenties" in het
                    menu, en vervolgens klikt u onder de advertentie op "Wijzigen".</p>
                    <br>
                </div>

                <div class="border-radius-20 xs-box-gradborder xs-legals-page md-box-gradborder mt-5"
                     style="padding-left: 10px;">
                    <p><h6 class="xs-txt-purple xs-mb-1 text-purple">In welke categorie hoort mijn advertentie?</h6>
                    Kies de juiste rubriek door de categorie te kiezen dat gerelateerd is tot uw niche en uw potentiële
                    klanten. <br>Het heeft geen zin om uw advertentie in alle rubrieken te plaatsen. Dit kan storend
                    overkomen naar onze bezoekers toe. Kies daarom juist en gericht.
                    <br>Weet u niet in welke categorie u thuishoort? Geen probleem, wij helpen u met plezier de correcte
                    categorie voor u te vinden!</p>
                    <br>
                </div>

                <div class="border-radius-20 xs-box-gradborder xs-legals-page md-box-gradborder mt-5"
                     style="padding-left: 10px;">
                    <p><h6 class="xs-txt-purple xs-mb-1 text-purple">Hoeveel advertenties mag ik plaatsen?</h6>
                    U mag een onbeperkt aantal advertenties plaatsen.
                    <br> Het is toegelaten om enkele producten of services die u aanbiedt extra in de kijker te plaatsen
                    met een gratis advertentie. Zolang dit niet storend overkomt bij onze websitegebruikers en
                    bezoekers.</p>
                    <br>
                </div>

                <div class="border-radius-20 xs-box-gradborder xs-legals-page md-box-gradborder mt-5"
                     style="padding-left: 10px;">
                    <p><h6 class="xs-txt-purple xs-mb-1 text-purple">Wat is er toegelaten op mijn advertentie?</h6>
                    Het plaatsen van advertenties voor illegale producten, zoals drugs of andere verboden middelen, is
                    strikt verboden op ons platform.
                    <br>Daarnaast is het ook niet toegestaan om advertenties met seksuele adultcontent te plaatsen. </p>

                    <p>We hechten veel belang aan de veiligheid en integriteit van onze gebruikers, en we willen ervoor
                        zorgen dat alle advertenties die op ons platform worden geplaatst voldoen aan onze richtlijnen
                        en beleidsregels.
                        <br>Het niet naleven van deze regels kan resulteren in het verwijderen van de advertentie en/of
                        het beëindigen van het account van de adverteerder.
                        <br>We raden adverteerders aan om de richtlijnen van ons platform te lezen voordat ze een
                        advertentie plaatsen om ervoor te zorgen dat deze voldoet aan onze vereisten.</p>
                    <br>
                </div>

                <div class="border-radius-20 xs-box-gradborder xs-legals-page md-box-gradborder mt-5"
                     style="padding-left: 10px;">
                    <p><h6 class="xs-txt-purple xs-mb-1 text-purple">Hoe kan ik mijn advertentie extra laten
                        opvallen?</h6>
                    U kan nog meer in de kijker staan door een <strong>premium</strong> advertentie te nemen. Dit is een
                    betalende advertentie dat ervoor zorgt dat uw advertentie meer onder de aandacht van onze bezoekers
                    komt.
                    <br>Deze is te zien op de homepagina maar ook in de categoriepagina van uw keuze. <strong>Zo staat u
                        op 2 posities extra in de kijker!</strong>
                    <br>
                    <br>
                    <p style="background-color: lightgrey"><strong>Voordelen van een premiumadvertentie:</strong>

                    <p>Een premium advertentie plaatst uw boodschap op een opvallende plek op ons platform.
                        Het wordt gekenmerkt door een exclusieve "aanbevolen" badge, waardoor het meer opvalt dan gewone advertenties.
                        Bovendien wordt uw premium advertentie opgenomen in onze wekelijkse nieuwsbrief en gepromoot op onze sociale mediakanalen,
                        waardoor uw bereik aanzienlijk wordt vergroot. Kies voor premium voor maximale zichtbaarheid en impact.</p>
                    </p>
                    <strong>Er zijn verschillende formules beschikbaar om uw advertentie als premium te activeren en dus
                        om in de kijker te staan.</strong>
                    <br>
                    <lu>
                        <li><strong><span class="xs-txt-purple">Dag formule</span> </strong> Hiermee staat uw
                            advertentie 24u lang in de kijker - 2 euro (betaling via credits 1,50€)
                        </li>
                        <li><strong><span class="xs-txt-purple">4 dagen</span> </strong> Hiermee staat uw advertentie 4
                            dagen lang in de kijker - 4 euro (betaling via credits 3,00€)
                        </li>
                        <li><strong><span class="xs-txt-purple">7 dagen</span> </strong> Hiermee staat uw advertentie 7
                            dagen lang in de kijker - 5 euro (betaling via credits 4,50€)
                        </li>
                    </lu>

                    <img src="/assets/images/Premium.png" style="width: 100%; margin-top: 10px;">
                    <br>

                    <div style="border-top: inherit; border-color: #8c4969;"></div>
                    <p>
                    <h6 class="xs-txt-purple xs-mb-1 text-purple text-uppercase mt-5">Kies voor een BIG PREMIUM advertentie</h6>
                    Met een BIG premium advertentie trekt uw advertentie onmiddellijk de aandacht van onze bezoekers.
                    Deze opvallende advertentie wordt als eerste weergegeven op onze homepage in een prominente
                    banner. Dit zorgt ervoor dat uw premium advertentie meteen in het oog springt van iedereen die
                    onze website bezoekt.
                    </p>

                    <p style="background-color: lightgrey"><strong>Waarom kiezen voor een BIG premium advertentie op onze homepage?</strong></p>

                    <p style="margin-top: 10px;">
                        <strong>Maximale zichtbaarheid: </strong>
                        <br>Uw advertentie wordt als eerste en opvallend weergegeven, waardoor deze de meeste aandacht
                        trekt.

                    <p><strong>Verbeterde klikfrequentie:</strong>
                        <br>De prominente positie op de homepage vergroot de kans dat bezoekers op uw advertentie
                        klikken.</p>
                    <p><strong>Verhoogde geloofwaardigheid:</strong>
                        <br>Het opvallende karakter van uw advertentie straalt professionaliteit uit en wekt vertrouwen
                        bij potentiële klanten.</p>
                    <p><strong>Groter bereik:</strong>
                        <br>Uw advertentie wordt gezien door een breder publiek, wat resulteert in meer potentiële
                        kopers of geïnteresseerde partijen.</p>
                    <p><strong>Snellere verkoop:</strong>
                        <br>Door uw premium advertentie bovenaan te plaatsen, verhoogt u de kans op een snellere verkoop
                        van uw producten of diensten.</p>
                    <p><strong>Opvallen tussen de concurrentie:</strong>
                        <br>Als eerste op de homepage staan betekent dat u zich onderscheidt van andere adverteerders en
                        de concurrentie een stap voor bent.</p>
                    </p>
                    <p>Kortom, met een BIG premium advertentie op onze homepage krijgt u de ultieme kans om uw
                        advertentie in de schijnwerpers te plaatsen en uw doelgroep effectief te bereiken."</p>

                    <br><img src="/assets/images/BigPremium.png" style="width: 100%">
                    <br>

                    <p style="margin-top: 15px; background-color: lightgrey">
                        <strong>Kies voor onze BIG PREMIUM en laat uw boodschap schitteren:</strong>
                        <br>1 week - Slechts €5,25
                        <br>2 weken - Slechts €10,50
                        <br>1 maand - Slechts €21,00
                    </p>
                    <br>
                    <h6 class="xs-txt-purple xs-mb-1 text-purple">Hoe kan ik betalend adverteren?</h6>
                    <p>Om een premium advertentie aan te maken heeft u <u>minstens 1 gratis advertentie</u> nodig.
                        Deze gratis advertentie kunt u vervolgens omzetten naar een premium advertentie.
                        <br>Via de <a href="{{ url('dashboard_index') }}">"Mijn advertenties"</a> pagina op uw dashboard kunt u de gewenste formule aankopen door op de knop "Maak Premium" te klikken.
                        <br>Na uw betaling wordt uw advertentie meteen op de <strong>sliderbalken</strong> gepubliceerd.
                        Deze bevinden zich op de <strong>homepagina en de subpagina's</strong>.</p>

                    <p>Als u interesse heeft in het maken van een BIG PREMIUM advertentie, kunt u dit eenvoudig doen via het tabblad <a href="{{ url('create_big_premium') }}">"Maak Big Premium"</a> in het menu van uw dashboard.
                        Hier heeft u de mogelijkheid om uw Big Premium advertentie te creëren en deze te koppelen aan uw reguliere Promotip-advertentie of uw persoonlijke website.
                        <br>Na succesvolle betaling wordt uw advertentie direct op de <strong>homepage</strong> gepubliceerd.
                    </p>
                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
