{% extends 'base.html.twig' %}


{% block title %} Adverteren {% endblock %}

{% block body %}

    <section class="container-fluid banner-bp">
        <div class="d-flex justify-content-center align-items-center text-white text-uppercase fw-800"
             style="height:220px;"><p><h1>Promotip Adverteren</h1></p></div>
        <div class="input-group"></div>
    </section>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6"><h4 class="text-uppercase">Het is van essentieel belang dat elk belangrijk evenement op de juiste manier wordt aangekondigd en gepromoot.
                </h4>
                <br>
                <p>Promotip is een uitstekend advertentieplatform voor ondernemingen, eventorganisatoren en lokale handelaren.
                </p>

                <p>Onze uitgebreide ervaring en kennis in marketing en reclame stellen u in staat om met behulp van ons platform uw evenementen en kortingsacties optimaal onder de aandacht te brengen.

                <p>Onze advertentiediensten zijn niet beperkt tot vooraf gedefinieerde doelgroepen, maar hebben een veel grotere reikwijdte. Dit is precies wat uw bedrijf en product nodig hebben om uw netwerk uit te breiden en meer potentiële klanten te bereiken.
                </p>
                <p><strong>Eenvoudig en lokaal adverteren doet u hier!</strong></p>
                <a href="{{ url ('home_register') }}"
                   class="btn btn-md px-2 mb-5 btn-pink">Plaats uw gratis advertentie</a>

            </div>
            <div class="col-sm-6">
                <img src="/assets/images/advertise.jpeg" class="img-fluid" alt="marketing platform">
            </div>
        </div>
    </div>

    <div class="container-fluid advertisebg mt-5">
        <div class="row justify-content-md-center">
            <div class="row xs-row-margin">
                <div class="col-4 col-sm-4 text-center">
                    <h4 class="mt-5 display-5 display-sm-4 text-purple">702</h4>
                    <h6 class="text-uppercase">Actieve adverteerders</h6>
                    <img src="/assets/images/klanten.png" class="img-fluid-advertise" alt="klanten">

                </div>
                <div class="col-4 col-sm-4 text-center">
                    <h4 class="mt-5 display-5 display-sm-4 text-purple">1371</h4>
                    <h6 class="text-uppercase">Aangemelde Events</h6>
                    <img src="/assets/images/events.png" class="img-fluid-advertise" alt="evenementen">

                </div>
                <div class="col-4 col-sm-4 text-center">
                    <h4 class="mt-5 display-5 display-sm-4 text-purple">1371</h4>
                    <h6 class="text-uppercase">Succesvol gepromoot</h6>
                    <img src="/assets/images/promoted.png" class="img-fluid-advertise" alt="evenementen gepromoot">

                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container-fluid announce mt-3 d-md-none d-xl-block">
        <div class="row xs-row-margin">
            <div class="col-12 col-md-6 offset-md-6 mb-4 mt-lg-5">
                <div class="row mt-5 pt-2">
                    <div class="col-12 col-sm-6 col-md-8" style="margin-bottom: 10px; margin-top: 125px;">
                        <small class="text-uppercase text-muted">Adverteren op Promotip</small>
                        <h5 class="fw-800 display-5 display-sm-4 color_gray text-uppercase"><strong>WAAROM IS HET EEN GOEDE KEUZE VOOR JOUW BEDRIJF?</strong></h5>
                        <br>
                        <p>Met een doordacht, goedkoop en helder concept biedt Promotip een unieke kans aan elke ondernemer om te adverteren.
                            Of je nu een startende ondernemer bent met een beperkt budget, of een gevestigde naam die een nieuw product wil lanceren, Promotip biedt voor ieder wat wils. <br></p>
                        <p>Je kunt zowel gratis als betalend adverteren, waardoor het voor iedereen mogelijk is om zich zichtbaar te maken.</p>
                        Dankzij Promotip hoef je geen fortuin uit te geven aan advertenties om je doelgroep te bereiken. </p>
                        <p>Met ons platform kan je snel en gemakkelijk jouw producten of diensten promoten aan een breed publiek.
                            <br>Kies voor Promotip en profiteer van de vele voordelen die ons platform biedt. Bereik een breed publiek en vergroot jouw naamsbekendheid op een eenvoudige en effectieve manier!</p>
                        <a href="https://www.promo-tip.nl/register/" class="btn btn-pink px-2">Plaats uw gratis advertentie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 d-none d-md-block d-xl-none">
        <div class="row justify-content-md-center">
            <br><h5 class="fw-800 display-5 display-sm-4 text-purple text-uppercase">
                <strong>WAAROM IS adverteren op Promotip EEN GOEDE KEUZE VOOR JOUW BEDRIJF?</strong></h5>
            <div class="row justify-content-md-center">
            <div class="col-sm-5 col-md-6">
                        <br>
                        <p>Met een doordacht, goedkoop en helder concept biedt Promotip een unieke kans aan elke ondernemer om te adverteren.
                            Of je nu een startende ondernemer bent met een beperkt budget, of een gevestigde naam die een nieuw product wil lanceren, Promotip biedt voor ieder wat wils. <br></p>
                        <p>Je kunt zowel gratis als betalend adverteren, waardoor het voor iedereen mogelijk is om zich zichtbaar te maken.</p>
                    </div>
            <div class="col-sm-5 col-md-6">
                <br>
                        <p>Dankzij Promotip hoef je geen fortuin uit te geven aan advertenties om je doelgroep te bereiken. </p>
                        <p>Met ons platform kan je snel en gemakkelijk jouw producten of diensten promoten aan een breed publiek.
                            <br>Kies voor Promotip en profiteer van de vele voordelen die ons platform biedt. Bereik een breed publiek en vergroot jouw naamsbekendheid op een eenvoudige en effectieve manier!</p>
            </div>
                </div>
            <a href="https://www.promo-tip.nl/register/" class="btn btn-pink px-2 mt-3 mb-5">Plaats uw gratis advertentie</a>
            </div>
        </div>
    </div>
    <div class="bg-light">
        <div class="container mb-5">
            <div class="row xs-row-margin">
                <div class="col-12 bg-light text-center" style="margin-top: 30px;">
                    <h5 class="display-6 text-uppercase mt-sm-5">Voordelen waarmee rekening moet worden gehouden <br> bij het kiezen van ons platform</h5>
                    <p class="text-center text-muted">Door het toevoegen van uw promoties, kortingen of speciale acties op onze website <br>verkrijgt u naast een advertentie eveneens een eigen bedrijfsfiche.</p>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <img class="img-fluid-advertise-2" src="/assets/images/search1.png" alt="SEO">
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">SEO friendly online</h6>
                            <p class="card-text">Onze dagelijkse SEO-vriendelijke inhoud is gemaakt op een manier die de zoekmachines helpt om deze hoog te plaatsen.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid-advertise-2" src="/assets/images/dashboard1.png" alt="Dashboard ">
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Gebruiksvriendelijke interface</h6>
                            <p class="card-text">Een eenvoudig en gemakkelijk te navigeren dashboard waar u al uw persoonlijke content kan beheren.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid-advertise-2" src="/assets/images/directonline.png" alt="direct online zichtbaar">
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Direct online!</h6>
                            <p class="card-text">In enkele minuten en 4 eenvoudige stappen staat uw advertentie meteen online!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white-advertise">
        <div class="container">
            <div class="row xs-row-margin">
                <div class="col text-center">
                    <a href="https://www.promo-tip.nl/register/" class="btn btn-pink px-2" style="margin-top:80px; margin-right:5px;margin-left: 15px;">Plaats uw gratis advertentie</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="margin-top: 50px;">
                <h5 class="display-6 text-uppercase mt-sm-5"> Promotie en marketingcampagnes </h5>
                <p class="text-center text-muted">Mogelijkheid tot het plaatsen van marketingcampagnes
                    <br>voor alle soorten acties en events!</p>
                <div class="card-deck">
                    <div class="card">
                        <img class="img-fluid-advertise-3" src="/assets/images/promo1.png" alt="promo1">
                    </div>
                    <div class="card">
                        <img class="img-fluid-advertise-3" src="/assets/images/promo2.png" alt="promo2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 text-center" style="margin-top: 30px;">
                <h5 class="display-6 text-uppercase mt-sm-5">Laat uw bedrijf groeien!</h5>
                <p class="text-center text-muted">Bent u op zoek naar een effectieve manier om uw bedrijf of organisatie te promoten? Zoek niet verder dan Promotip!
                    <br>Promotip is hét online platform die u kan helpen uw naamsbekendheid te vergroten, klantbetrokkenheid te stimuleren en de verkoop te laten groeien.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row xs-row-margin">
            <div class="col text-center">
                <a href="https://www.promo-tip.nl/register/" class="btn btn-pink px-2" style="margin-right:5px;margin-left: 15px; margin-bottom: 150px;">Maak nu gratis uw account aan!</a>
            </div>
        </div>
    </div>

{% endblock %}