{% extends 'base.html.twig' %}

{% block title %}{% trans %}Cookies{% endtrans %}{% endblock %}




{% block body %}
    <section class="container-fluid banner-bp xs-background-none">
        <div class="d-flex justify-content-center align-items-center text-white text-uppercase fw-800 xs-page-main-title"
             style="height:220px;"><h1>{% trans %}Cookies{% endtrans %}</h1></div>
        <div class="input-group"></div>
    </section>
    <div class="container xs-mb-130">
        <div class="row">
            <div class="col xs-ov-hidden">
                <p>De Site maakt gebruik van cookies om Gebruikers van de Site te onderscheiden. <br>Dit
                    maakt het mogelijk om de gebruikers een betere surfervaring en een verbetering van
                    de Site en de inhoud ervan te bieden. De doelstellingen en methodes van cookies
                    zijn opgenomen in dit artikel.</p>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <strong class="xs-txt-purple inline-mb15">a. Algemene principes</strong>
                    <br>Een <strong>"Cookie"</strong> is een bestand dat tijdelijk of permanent op het apparaat van de
                    Gebruiker wordt geplaatst bij het bekijken van de Site met het oog op een volgende
                    verbinding. Dankzij cookies herkent de server het apparaat van de Gebruiker.
                    </br>
                    <p>Cookies kunnen ook worden geïnstalleerd door derden met wie Promotip
                        samenwerkt.</p>
                    <p>Sommige van de cookies die gebruikt worden door Promotip zijn noodzakelijk voor de
                        goede werking van de Site, andere zijn nodig om de ervaring van de Gebruiker te
                        verbeteren.</p>
                    De Gebruiker kan cookies aanpassen of uitschakelen.
                    <p><br>Door gebruik te maken van de Website stemt de Gebruiker uitdrukkelijk in met het
                        beheer van cookies zoals beschreven in dit artikel.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="xs-txt-purple inline-mb15">b. Soorten cookies en nagestreefde doeleinden</strong>
                        <br>Verschillende soorten cookies worden gebruikt door Promotip op de Site:
                    <li>Technische cookies: deze zijn noodzakelijk voor de werking van de Site, maken
                        de communicatie van de ingevoerde gegevens mogelijk en zijn bedoeld om de
                        navigatie van de Gebruiker te vergemakkelijken;</li>
                    <li>Analytische en publiekscookies: deze cookies maken de herkenning van de
                        Gebruiker mogelijk en worden gebruikt om het aantal Gebruikers van de
                        Website over een bepaalde periode te tellen. Omdat ze ook het surfgedrag
                        aangeven, zijn ze een effectieve manier om de surfervaring van de Gebruiker te
                        verbeteren door voorstellen en aanbiedingen weer te geven die interessant
                        kunnen zijn voor de Gebruiker. Ze maken het Promotip ook mogelijk om
                        eventuele bugs op de Site te identificeren en te corrigeren;</li>
                    <li>Functionele cookies: deze cookies vergemakkelijken het gebruik van de Site
                        door bepaalde ingevoerde keuzes te behouden (bijvoorbeeld de
                        gebruikersnaam of taal);</li>
                    <li>Tracking cookies: Promotip maakt gebruik van tracking cookies via Google
                        Analytics, om de interactie van gebruikers met de inhoud van de Site te meten
                        en anonieme statistieken te produceren. Deze statistieken maken het Promotip
                        mogelijk om de Site te verbeteren. Google ondersteunt de uitleg van deze
                        cookies op het volgende adres: <span class="xs-txt-brown">http://www.google.nl/intl/en_uk/policies/privacy/.</span></li></p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><br><strong class="xs-txt-purple inline-mb15">c. Bewaartermijn voor cookies</strong>
                        <br>Cookies worden bewaard voor de tijd die nodig is om het beoogde doel te bereiken.
                        De cookies die op de harde schijf van de Gebruiker kunnen worden opgeslagen en
                        de opslagperiode zijn als volgt:
                    <li>PHPSESSID Functionele cookie Duur van de sessie (tot afsluiten browser)</li>
                    <li>__cfduid Functionele cookie 1 jaar</li>
                    <li>_ga Analytische cookie 2 jaar</li>
                    <li>_gat Analytische cookie 1 dag</li>
                    <li>_gid Analytische cookie 1 dag</li>
                    <li>view Functionele cookie 1 jaar</li>
                    <li>hppo Targeting cookie 1 dag</li></p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><br><strong class="xs-txt-purple inline-mb15">d. Beheer van cookies</strong>
                        <br>Als de Gebruiker niet wil dat de Website cookies op zijn harde schijf plaatst, kan hij
                        deze eenvoudig beheren of verwijderen door zijn browserinstellingen aan te passen.
                        Door de programmering van de browser kan de Gebruiker ook een kennisgeving
                        ontvangen zodra een website cookies gebruikt en zo beslissen of hij deze accepteert
                        of weigert.</p>
                    <p>Indien de Gebruiker bepaalde cookies uitschakelt, aanvaardt hij dat de Site mogelijk
                        niet optimaal functioneert. Sommige delen van de Site zijn mogelijk niet of
                        gedeeltelijk bruikbaar.</p>
                    <p>Indien de Gebruiker bepaalde cookies op deze manier wil beheren en/of verwijderen,
                        kan hij/zij dit doen via de volgende link(s):</p>
                    <p>Voor Gebruikers met een browser:</p>
                    <p><li><span class="text-bolder-black">Internet Explorer:</span>
                        <span class="xs-txt-brown">http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies</span></li>
                    <li><span class="text-bolder-black">Microsoft Edge:</span>
                        <span class="xs-txt-brown">http://windows.microsoft.com/en-gb/windows-10/edge-privacy-faq</span></li>
                    <li><span class="text-bolder-black">Chrome:</span> <span class="xs-txt-brown">https://support.google.com/accounts/answer/61416?hl=fr</span></li>
                    <li><span class="text-bolder-black">Firefox:</span> <span class="xs-txt-brown">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences</span></li>
                    <li><span class="text-bolder-black">Safari:</span> <span class="xs-txt-brown">https://support.apple.com/kb/ph21411?locale=fr_CA</span></li></p>
                    <p>Indien de Gebruiker weigert het gebruik van Google Analytics cookies toe te staan,
                        wordt hij of zij uitgenodigd om zijn of haar browser te configureren om dit te doen op
                        de volgende website: <span class="xs-txt-brown">http://tools.google.com/dlpage/gaoptout.</span></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}