{% extends 'base.html.twig' %}

{% block title %}Privacybeleid{% endblock %}


{% block body %}

    <section class="container-fluid banner-bp xs-background-none">
        <div class="d-flex justify-content-center align-items-center text-white text-uppercase fw-600 xs-page-main-title"
             style="height:220px;"><h1>Gebruiksvoorwaarden</h1></div>
        <div class="input-group"></div>
    </section>

    <div class="container xs-mb-130">
        <div class="row">
            <div class="col xs-ov-hidden">
                <strong class="page-intern-title">PRIVACYBELEID</strong>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">1.</span> Partijen en voorwerp</strong>
                        <br>Promotip (<span class="xs-txt-brown">hierna "Promotip" of de "Verwerkingsverantwoordelijke"</span>)
                        <br>________</p>
                    <p><span class="text-bolder-black">BTW:</span> <span class="xs-txt-brown">BE 0833.895.835</span>
                        <br><span class="text-bolder-black">E-Mail:</span> <span class="xs-txt-brown">info@promo-tip.nl</span>
                        <br><span class="text-bolder-black">Telefoon:</span> <span class="xs-txt-brown">0032494318256</span></p>

                    <p>Promotip stelt dit Privacybeleid vast, dat tot doel heeft de Gebruikers op transparante
                        wijze te informeren over de website die gehost wordt op het volgende adres:
                        www.promo-tip.nl, (hierna de <strong class="xs-txt-brown">"Site"</strong>), en over de wijze waarop persoonsgegevens
                        worden verzameld en verwerkt door Promotip.</p>
                    <p>De term <strong class="xs-txt-brown">"Gebruiker"</strong> verwijst naar elke gebruiker, of het nu een natuurlijke of een
                        rechtspersoon is, die de Site bezoekt of op enigerlei wijze met de Site communiceert.</p>
                    <p>In diens hoedanigheid als verwerkingsverantwoordelijke, bepaalt Promotip alle
                        technische, juridische en organisatorische middelen en de doeleinden voor de
                        verwerking van de persoonsgegevens van de Gebruikers. Promotip verbindt zich
                        ertoe alle nodige maatregelen te nemen om ervoor te zorgen dat de verwerking van
                        persoonsgegevens plaatsvindt in overeenstemming met de Wet van 30 juli 2018
                        betreffende de bescherming van natuurlijke personen met betrekking tot de
                        verwerking van persoonsgegevens (hierna de <strong class="xs-txt-brown">"Wet"</strong>) en de Verordening (EU)
                        2016/679 van het Europees Parlement en de Raad van 27 april 2016 betreffende de
                        bescherming van natuurlijke personen in verband met de verwerking van
                        persoonsgegevens en betreffende het vrije verkeer van die gegevens en tot
                        intrekking van Richtlijn 95/46/EG (d.i. de algemene verordening
                        gegevensbescherming (AVG) of 'GDPR'; hierna de <strong class="xs-txt-brown">"Verordening"</strong>).</p>
                    <p> Promotip is vrij om een natuurlijke of rechtspersoon te kiezen die de
                        persoonsgegevens van de gebruikers op zijn verzoek en in zijn naam verwerkt
                        (hierna de "Verwerker" of "Onderaannemer"). In voorkomend geval verbindt Promotip
                        zich ertoe een Verwerker te selecteren die voldoende garanties biedt met betrekking
                        tot de technische en organisatorische maatregelen voor de verwerking van
                        persoonsgegevens, in overeenstemming met de Wet en de Verordening.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">2.</span> Verwerking van persoonsgegevens</strong></p>
                    <p>Het gebruik van de Site door de Gebruikers kan leiden tot de verzameling van
                        persoonlijke gegevens. De verwerking van deze gegevens door Promotip, in zijn
                        hoedanigheid van Verwerkingsverantwoordelijke of door dienstverleners die in naam
    Promotip                    de Verordening.</p>
                    <p>Persoonsgegevens worden verwerkt door Promotip, in overeenstemming met de
                        hieronder vermelde doeleinden, via de volgende methodes:</p>
                    <p>Publicatie online advertentie
                        <br>Publicatie bedrijfsfiche online
                        <br/>Inschrijvingsformulier</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">3.</span> Doel van de verwerking van persoonsgegevens</strong></p>
                    <p>Overeenkomstig artikel 13 van de Verordening worden de doeleinden van de
                        verwerking van persoonsgegevens aan de Gebruiker meegedeeld. Die doeleinden
                        zijn de volgende:</p>
                    <p>Klantbeheer: klantenadministratie, orderbeheer, facturatie, ondersteuning,
                        klachtenbehandeling;
                        <br>Het aanbieden en verbeteren van onze gepersonaliseerde en algemene
                        dienstverlening;
                        <br>Het aanbieden van informatie, nieuwsbrieven en aanbiedingen die nuttig en/of
                        noodzakelijk zijn voor de Gebruiker;
                        <br>Het verlenen van ondersteuning;
                        <br>De verkrijging en verwerking van gebruikersbeoordelingen.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">4.</span> Persoonsgegevens die kunnen worden verwerkt</strong></p>
                    <p>De Gebruiker stemt ermee in dat, tijdens het bezoek en gebruik van de Site, Promotip
                        de volgende persoonsgegevens verzamelt en verwerkt:</p>
                    <p><span class="text-bolder-black">Persoonlijke identificatiegegevens</span> <span class="xs-txt-brown">(voornaam, bedrijfsnaam, adres,
                        inloggegevens);</span>
                        <br><span class="text-bolder-black">Contactgegevens</span> <span class="xs-txt-brown">(telefoonnummer en e-mailadres);</span>
                        <br><span class="text-bolder-black">Financiële identifactiegegevens</span> <span class="xs-txt-brown">(bankgegevens, facturatiegegevens,
                        bedrijfsgegevens):</span>
                        <br><span class="text-bolder-black">Elektronische identificatiegegevens</span> <span class="xs-txt-brown">(Ip-adres, cookies);</span>
                        <br><span class="text-bolder-black">Foto’s en video’s;</span></p>
                    <p> Promotip verzamelt en verwerkt deze persoonsgegevens in overeenstemming met de
                        voorwaarden en principes beschreven in dit Privacybeleid.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">5.</span> Toestemming</strong></p>
                    <p>Door de toegang tot en het gebruik van de Site verklaart de Gebruiker dat hij/zij
                        zijn/haar vrije, specifieke, geïnformeerde en ondubbelzinnige toestemming voor de
                        verwerking van zijn/haar persoonsgegevens heeft gelezen en gegeven. Deze
                        overeenkomst heeft betrekking op de inhoud van dit Privacybeleid.</p>
                    <p>Toestemming wordt gegeven door de positieve en actieve handeling waarmee de
                        Gebruiker het vakje voor het privacybeleid in 'hypertext link' heeft aangevinkt. Deze
                        toestemming is een essentiële voorwaarde voor het uitvoeren van bepaalde
                        handelingen op de Site of om de Gebruiker in staat te stellen een contractuele relatie
                        aan te gaan met Promotip. Elke overeenkomst die Promotip en een Gebruiker
                        verbinden met betrekking tot de diensten en goederen die worden aangeboden op de
                        Site is onderworpen aan de aanvaarding van het Privacybeleid door de Gebruiker.</p>
                    <p>De Gebruiker stemt ermee in dat de Verwerkingsverantwoordelijke, in
                        overeenstemming met de in dit Privacybeleid opgenomen voorwaarden en principes,
                        zijn/haar persoonlijke gegevens verzamelt en verwerkt die hij/zij op de Site of in
                        verband met de diensten die worden aangeboden door Promotip, verstrekt voor de
                        hierboven vermelde doeleinden.</p>
                    <p>De Gebruiker heeft te allen tijde het recht om deze toestemming in te trekken. De
                        intrekking van de toestemming laat de rechtmatigheid van de verwerking op basis
                        van de voorafgaande toestemming onverlet.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">6.</span> Bewaartermijn van de persoonsgegevens van de Gebruikers</strong></p>
                    <p>Overeenkomstig artikel 13, lid 2 van de Verordening bewaart de
                        Verwerkingsverantwoordelijke de persoonsgegevens slechts zolang als redelijkerwijs
                        noodzakelijk is voor het bereiken van de doeleinden waarvoor zij worden verwerkt.</p>
                    <p>Deze duur is in alle gevallen niet langer dan twee jaar.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">7.</span> Ontvangers van gegevens en openbaarmaking aan derden</strong></p>
                    <p>Persoonsgegevens kunnen worden doorgegeven aan werknemers, medewerkers,
                        onderaannemers, verwerkers of leveranciers van Promotip voor zover adequate
                        garanties worden geboden voor de beveiliging van de gegevens en voor zover zij
                        samenwerken met Promotip voor het op de markt brengen van de producten of het
                        verlenen van diensten. Zij handelen onder het rechtstreekse gezag van Promotip, en
                        zijn met name verantwoordelijk voor het verzamelen, verwerken of uitbesteden van
                        deze gegevens.</p>

                    <p>In alle gevallen leven de ontvangers van de gegevens en degenen aan wie de
                        gegevens worden verstrekt de inhoud van dit Privacybeleid na. Promotip zorgt ervoor
                        dat zij deze gegevens alleen voor de beoogde doeleinden en op een discrete en
                        veilige manier verwerken.</p>
                    <p>In het geval dat de gegevens aan derden zouden worden verstrekt voor doeleinden
                        van direct marketing of van prospectie, zal de Gebruiker vooraf geïnformeerd worden
                        opdat hij of zij de voorafgaande en uitdrukkelijke toestemming aan dit gebruik van
                        persoonsgegevens kan geven.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">8.</span> Rechten van de Gebruikers</strong></p>
                    <p>De Gebruiker kan zijn rechten te allen tijde uitoefenen door een bericht per e-mail te
                        sturen naar het volgende adres: info@promo-tip.nl</p>
                    <p><strong class="xs-txt-brown">a. Recht van toegang</strong></p>
                    <p>In overeenstemming met artikel 15 van de Verordening, garandeert Promotip het
                        recht van de Gebruiker op toegang tot zijn persoonsgegevens. De Gebruiker heeft
                        het recht op toegang tot deze persoonsgegevens en de volgende informatie:</p>
                    <p><li>de betrokken categorieën persoonsgegevens;
                        de ontvangers of categorieën ontvangers aan wie de persoonsgegevens zijn of
                        zullen worden verstrekt;</li>
                    <li>in geval de ontvangers gevestigd zijn in derde landen of internationale
                        organisaties zijn, de passende of geschikte waarborgen;</li>
                    <li>indien mogelijk, de voorgestelde opslagperiode voor persoonsgegevens of,
                        indien dit niet mogelijk is, de criteria aan de hand waarvan deze periode wordt
                        vastgesteld;</li>
                    <li>het bestaan van geautomatiseerde besluitvorming, met inbegrip van profilering,
                        als bedoeld in artikel 22, leden 1 en 4, van de Verordening, en, ten minste in
                        dergelijke gevallen, relevante informatie over de onderliggende logica, alsmede
                        het belang en de verwachte gevolgen van een dergelijke verwerking voor de
                        betrokkene.</li></p>
                    <p>De Verwerkingsverantwoordelijke kan een redelijke vergoeding eisen op basis van
                        de administratieve kosten voor extra kopieën die door de Gebruiker worden
                        opgevraagd.</p>
                    <p>Wanneer de Gebruiker dit verzoek langs elektronische weg (bv. via het e-mailadres)
                        indient, worden de gegevens in elektronische vorm en voor algemeen gebruik
                        verstrekt, tenzij de Gebruiker anders verzoekt.</p>

                    <p>De kopie van de gegevens zal uiterlijk binnen een maand na ontvangst van de
                        aanvraag aan de Gebruiker worden meegedeeld.</p>
                    <p><strong class="xs-txt-brown">b. Recht op rectificatie</strong></p>
                    <p>Promotip garandeert het recht op rectificatie en verwijdering van persoonsgegevens
                        aan de Gebruiker.</p>
                    <p>Overeenkomstig artikel 16 van de Verordening kunnen onjuiste, onnauwkeurige of
                        irrelevante gegevens te allen tijde worden gecorrigeerd of verwijderd. De Gebruiker
                        brengt eerst zelf de nodige wijzigingen aan vanuit zijn gebruikersaccount, tenzij deze
                        niet zelfstandig kunnen worden aangebracht, in welk geval de aanvraag kan worden
    Promotip                <p>Overeenkomstig artikel 19 van de Verordening stelt de verwerkingsverantwoordelijke
                        elke ontvanger aan wie de persoonsgegevens zijn verstrekt in kennis van elke
                        rectificatie van de persoonsgegevens, tenzij een dergelijke rectificatie onmogelijk
                        blijkt of onevenredige inspanningen vergt. De verwerkingsverantwoordelijke verstrekt
                        de betrokkene informatie over deze ontvangers indien de betrokkene daarom
                        verzoekt.</p>
                    <p><strong class="xs-txt-brown">c. Recht op uitwissing</strong></p>
                    <p>De Gebruiker heeft het recht om in de in artikel 17 van de Verordening genoemde
                        gevallen zo spoedig mogelijk de verwijdering van zijn persoonsgegevens te
                        verkrijgen.</p>
                    <p>Wanneer de Verwerkingsverantwoordelijke de persoonsgegevens openbaar heeft
                        gemaakt en op grond van het vorige lid verplicht is deze te wissen, neemt de
                        Verwerkingsverantwoordelijke, rekening houdend met de beschikbare technologieën
                        en de uitvoeringskosten, redelijke maatregelen, waaronder technische maatregelen,
                        om andere voor de verwerking verantwoordelijken die dergelijke persoonsgegevens
                        verwerken, ervan in kennis te stellen dat de betrokkene door deze voor de
                        verwerking verantwoordelijken heeft verzocht om het verband met dergelijke
                        persoonsgegevens of een kopie of reproductie daarvan te wissen.</p>
                    <p>De twee voorgaande leden zijn niet van toepassing voor zover een dergelijke
                        verwerking noodzakelijk is:</p>
                    <p><li>de uitoefening van het recht op vrijheid van meningsuiting en informatie;</li>
                    <li>te voldoen aan een wettelijke verplichting tot verwerking krachtens het recht
                        van de Unie of het recht van de lidstaat waaronder de
                        verwerkingsverantwoordelijke ressorteert, of een taak van algemeen belang of
                        in het kader van de uitoefening van het openbaar gezag die aan de
                        verwerkingsverantwoordelijke is opgedragen, uit te voeren;</li>
                    <li>de vaststelling, de uitoefening of de verdediging van rechtsvorderingen.</li></p>
                    <p>Overeenkomstig artikel 19 van de Verordening stelt de verwerkingsverantwoordelijke
                        voor de verwerking elke ontvanger aan wie de persoonsgegevens zijn verstrekt, in
                        kennis van elke verwijdering van persoonsgegevens of elke beperking van de
                        verwerking ervan, tenzij deze openbaarmaking onmogelijk blijkt of onevenredig veel
                        moeite kost. De verwerkingsverantwoordelijke verstrekt de betrokkene informatie
                        over deze ontvangers indien de betrokkene daarom verzoekt.</p>
                    <p><strong class="xs-txt-brown">d. Recht om de verwerking te beperken</strong></p>
                    <p>De Gebruiker heeft recht op een beperking van de verwerking van zijn
                        persoonsgegevens in de in artikel 18 van de Verordening genoemde gevallen.</p>
                    <p>Overeenkomstig artikel 19 van de Verordening stelt de verwerkingsverantwoordelijke
                        elke ontvanger aan wie de persoonsgegevens zijn verstrekt, in kennis van elke
                        beperking van de uitgevoerde verwerking, tenzij deze openbaarmaking onmogelijk
                        blijkt of onevenredig veel moeite kost. De verwerkingsverantwoordelijke verstrekt de
                        betrokkene informatie over deze ontvangers indien de betrokkene daarom verzoekt.</p>
                    <p><strong class="xs-txt-brown">e. Recht op gegevensportabiliteit</strong></p>
                    <p>In overeenstemming met artikel 20 van de Verordening hebben Gebruikers recht om
                        van Promotip hun persoonsgegevens te ontvangen in een gestructureerd, algemeen
                        gebruikt en machineleesbaar formaat. Gebruikers hebben het recht om deze
                        gegevens door te geven aan een andere verwerkingsverantwoordelijke zonder dat
                        Promotip dit verhindert, in de gevallen die voorzien zijn in de Verordening.</p>
                    <p>Wanneer de Gebruiker gebruik maakt van zijn recht op gegevensportabiliteit op
                        grond van het vorige lid, heeft hij het recht om persoonsgegevens rechtstreeks van
                        de ene naar de andere verwerkingsverantwoordelijke te te laten overdragen, voor
                        zover dit technisch mogelijk is.</p>
                    <p>De uitoefening van het recht op gegevensportabiliteit doet geen afbreuk aan het
                        recht om gegevens te wissen. Dit recht is niet van toepassing op de verwerking die
                        nodig is voor de vervulling van een taak van algemeen belang of voor de uitoefening
                        van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen.</p>
                    <p>Het recht op gegevensportabiliteit heeft geen invloed op de rechten en vrijheden van
                        derden.</p>
                    <p><strong class="xs-txt-brown">f. Recht van verzet en geautomatiseerde individuele besluitvorming</strong></p>
                    <p>De Gebruiker heeft te allen tijde het recht om bezwaar te maken tegen de verwerking
                        van zijn/haar persoonsgegevens vanwege zijn/haar specifieke situatie, met inbegrip
                        van de automatisering van gegevens door Promotip. In overeenstemming met artikel
                        21 van de Verordening, zal Promotip geen persoonsgegevens meer verwerken, tenzij
                        er legitieme en dwingende redenen zijn voor de verwerking die prevaleren boven de
                        belangen en rechten en vrijheden van de Gebruiker, of voor de vaststelling,
                        uitoefening of verdediging van wettelijke rechten.</p>
                    <p>Bij de verwerking van persoonsgegevens voor prospectiedoeleinden heeft de
                        Gebruiker te allen tijde het recht om bezwaar te maken tegen de verwerking van de
                        hem betreffende persoonsgegevens voor dergelijke prospectiedoeleinden, met
                        inbegrip van profilering voor zover deze betrekking heeft op dergelijke prospectie.</p>
                    <p>Wanneer de betrokkene bezwaar maakt tegen de verwerking met het oog op
                        prospectie, worden de persoonsgegevens niet langer voor dat doel verwerkt.</p>
                    <p><strong class="xs-txt-brown">g. Klachtrecht</strong></p>
                    <p>De Gebruiker heeft het recht een klacht in te dienen met betrekking tot de verwerking
                        van zijn persoonsgegevens door Promotip, aan de Gegevensbeschermingsautoriteit
                        die bevoegd is voor het Belgische grondgebied. Meer informatie is te vinden op de
                        website: https://www.gegevensbeschermingsautoriteit.be/.</p>
                    <p>Klachten kunnen worden ingediend op de volgende adressen:</p>
                    <p>Gegevensbeschermingsautoriteit
                        <br>Drukpersstraat 35, 1000 Brussel
                        <br><span class="text-bolder-black">Tel.</span> <span class="xs-txt-brown">+ 32 2 274 48 00</span>
                        <br><span class="text-bolder-black">Fax.</span> <span class="xs-txt-brown">+ 32 2 274 48 35</span>
                        <br><span class="text-bolder-black">E-mail:</span> <span class="xs-txt-brown">contact@apd-gba.be</span></p>
                    <p>De Gebruiker kan ook een vordering tot staking indienen bij de voorzitter van de
                        rechtbank van eerste aanleg van zijn woonplaats.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">9.</span> Cookies</strong></p>
                    <p>De Site maakt gebruik van cookies om Gebruikers van de Site te onderscheiden. Dit
                        maakt het mogelijk om de gebruikers een betere surfervaring en een verbetering van
                        de Site en de inhoud ervan te bieden. De doelstellingen en methodes van cookies
                        zijn opgenomen in dit artikel.</p>
                    <p><strong class="xs-txt-brown">a. Algemene principes</strong></p>
                    <p>Een <strong class="xs-txt-brown">"Cookie"</strong> is een bestand dat tijdelijk of permanent op het apparaat van de
                        Gebruiker wordt geplaatst bij het bekijken van de Site met het oog op een volgende
                        verbinding. Dankzij cookies herkent de server het apparaat van de Gebruiker.</p>

                    <p>Cookies kunnen ook worden geïnstalleerd door derden met wie Promotip
                        samenwerkt.</p>
                    <p>Sommige van de cookies die gebruikt worden door Promotip zijn noodzakelijk voor de
                        goede werking van de Site, andere zijn nodig om de ervaring van de Gebruiker te
                        verbeteren.</p>
                    <p>De Gebruiker kan cookies aanpassen of uitschakelen.</p>
                    <p>Door gebruik te maken van de Website stemt de Gebruiker uitdrukkelijk in met het
                        beheer van cookies zoals beschreven in dit artikel.</p>
                    <p><strong class="xs-txt-brown">b. Soorten cookies en nagestreefde doeleinden</strong></p>
                    <p>Verschillende soorten cookies worden gebruikt door Promotip op de Site:</p>
                    <p><li>Technische cookies: deze zijn noodzakelijk voor de werking van de Site, maken
                        de communicatie van de ingevoerde gegevens mogelijk en zijn bedoeld om de
                        navigatie van de Gebruiker te vergemakkelijken;</li>
                    <li>Analytische en publiekscookies: deze cookies maken de herkenning van de
                        Gebruiker mogelijk en worden gebruikt om het aantal Gebruikers van de
                        Website over een bepaalde periode te tellen. Omdat ze ook het surfgedrag
                        aangeven, zijn ze een effectieve manier om de surfervaring van de Gebruiker te
                        verbeteren door voorstellen en aanbiedingen weer te geven die interessant
                        kunnen zijn voor de Gebruiker. Ze maken het Promotip ook mogelijk om
                        eventuele bugs op de Site te identificeren en te corrigeren;</li>
                    <li>Functionele cookies: deze cookies vergemakkelijken het gebruik van de Site
                        door bepaalde ingevoerde keuzes te behouden (bijvoorbeeld de
                        gebruikersnaam of taal);</li>
                    <li>Tracking cookies: Promotip maakt gebruik van tracking cookies via Google
                        Analytics, om de interactie van gebruikers met de inhoud van de Site te meten
                        en anonieme statistieken te produceren. Deze statistieken maken het Promotip
                        mogelijk om de Site te verbeteren. Google ondersteunt de uitleg van deze
                        cookies op het volgende adres: http://www.google.nl/intl/en_uk/policies/privacy/.</li></p>
                    <p><strong class="xs-txt-brown">c. Bewaartermijn voor cookies</strong></p>
                    <p>Cookies worden bewaard voor de tijd die nodig is om het beoogde doel te bereiken.
                        De cookies die op de harde schijf van de Gebruiker kunnen worden opgeslagen en
                        de opslagperiode zijn als volgt:</p>
                    <p>PHPSESSID Functionele cookie Duur van de sessie (tot afsluiten browser)
                        <br>__cfduid Functionele cookie 1 jaar
                        <br>_ga Analytische cookie 2 jaar
                        <br>_gat Analytische cookie 1 dag
                        <br>_gid Analytische cookie 1 dag
                        <br>view Functionele cookie 1 jaar
                        <br>hppo Targeting cookie 1 dag</p>
                    <p><strong class="xs-txt-brown">d. Beheer van cookies</strong></p>
                    <p>Als de Gebruiker niet wil dat de Website cookies op zijn harde schijf plaatst, kan hij
                        deze eenvoudig beheren of verwijderen door zijn browserinstellingen aan te passen.
                        Door de programmering van de browser kan de Gebruiker ook een kennisgeving
                        ontvangen zodra een website cookies gebruikt en zo beslissen of hij deze accepteert
                        of weigert.</p>
                    <p>Indien de Gebruiker bepaalde cookies uitschakelt, aanvaardt hij dat de Site mogelijk
                        niet optimaal functioneert. Sommige delen van de Site zijn mogelijk niet of
                        gedeeltelijk bruikbaar.</p>
                    <p>Indien de Gebruiker bepaalde cookies op deze manier wil beheren en/of verwijderen,
                        kan hij/zij dit doen via de volgende link(s):</p>
                    <p>Voor Gebruikers met een browser:</p>
                    <p><li><span class="text-bolder-black">Internet Explorer:</span>
                        <span class="xs-txt-brown">http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies</span></li>
                    <li><span class="text-bolder-black">Microsoft Edge:</span>
                        <span class="xs-txt-brown">http://windows.microsoft.com/en-gb/windows-10/edge-privacy-faq</span></li>
                    <li><span class="text-bolder-black">Chrome:</span> <span class="xs-txt-brown">https://support.google.com/accounts/answer/61416?hl=fr</span></li>
                    <li><span class="text-bolder-black">Firefox:</span> <span class="xs-txt-brown">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences</span></li>
                    <li><span class="text-bolder-black">Safari:</span> <span class="xs-txt-brown">https://support.apple.com/kb/ph21411?locale=fr_CA</span></li></p>
                    <p>Indien de Gebruiker weigert het gebruik van Google Analytics cookies toe te staan,
                        wordt hij of zij uitgenodigd om zijn of haar browser te configureren om dit te doen op
                        de volgende website: http://tools.google.com/dlpage/gaoptout.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">10.</span> Beperking van de aansprakelijkheid van de Verwerkingsverantwoordelijke</strong></p>
                    <p>De website kan links bevatten naar andere websites van derden die niet gelinkt zijn
                        aan Promotip. De inhoud van deze sites en de naleving van de Verordening en de
                        Wet vallen niet onder de verantwoordelijkheid van Promotip.</p>
                    <p>De houder van het ouderlijk gezag moet zijn of haar uitdrukkelijke toestemming
                        geven aan de minderjarige jonger dan 16 jaar om persoonlijke informatie of
                        gegevens middels de Site bekend te maken. Promotip raadt personen die het
                        ouderlijk gezag over minderjarigen uitoefenen ten zeerste aan om een verantwoord
                        en veilig gebruik van het internet te bevorderen. De Verwerkingsverantwoordelijke
                        kan niet aansprakelijk worden gesteld voor het verzamelen en verwerken van
                        persoonlijke informatie en gegevens van minderjarigen jonger dan 16 jaar wier
                        toestemming niet effectief wordt gedekt door die van hun wettelijke ouders, noch
                        voor onjuiste gegevens - met name wat betreft leeftijd - die door minderjarigen zijn
                        ingevoerd. In geen geval worden persoonlijke gegevens verwerkt door de
                        Verwerkingsverantwoordelijke indien de gebruiker aangeeft dat hij/zij jonger is dan 16
                        jaar.</p>
                    <p>Promotip is niet verantwoordelijk voor verlies, beschadiging of diefstal van
                        persoonsgegevens, met name als gevolg van de aanwezigheid van virussen of na
                        computeraanvallen.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">11.</span> Veiligheid en beveiliging</strong></p>
                    <p>De Verwerkingsverantwoordelijke voert technische en organisatorische maatregelen
                        uit om een passend beveiligingsniveau voor de verwerking en verzameling van
                        gegevens te waarborgen. Deze veiligheidsmaatregelen zijn afhankelijk van de
                        uitvoeringskosten met betrekking tot de aard, de context en de doeleinden van de
                        verwerking van persoonsgegevens.</p>
                    <p>De Verwerkingsverantwoordelijke gebruikt standaard encryptietechnologieën binnen
                        de IT-sector bij de overdracht of verzameling van gegevens op de Site.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">12.</span> Wijziging van het Privacybeleid</strong></p>
                    <p>Promotip behoudt zich het recht voor om dit Privacybeleid te wijzigen om te voldoen
                        aan de wettelijke verplichtingen in dit verband. De Gebruiker wordt daarom verzocht
                        regelmatig het Privacybeleid te raadplegen om op de hoogte te blijven van eventuele
                        wijzigingen en aanpassingen. Dergelijke wijzigingen zullen op de Site worden
                        geplaatst of per e-mail worden verstuurd om de tegenwerpelijkheid te waarborgen.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">13.</span> Toepasselijk recht en bevoegde rechtbank</strong></p>
                    <p>Dit Privacybeleid wordt uitsluitend beheerst door het Belgische recht. Elk geschil zal
                        worden voorgelegd aan de rechtbanken van het gerechtelijk arrondissement van de
                        maatschappelijke zetel van Promotip.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">14.</span> Contact</strong></p>
                    <p>Voor elke vraag of klacht met betrekking tot dit privacybeleid kan de Gebruiker
                        contact opnemen met de Verwerkingsverantwoordelijke op het volgende adres: <span class="xs-txt-brown">info@promo-tip.nl</span>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}