{% extends 'base.html.twig' %}

{% block title %}{% trans %}Terms &amp; conditions{% endtrans %}{% endblock %}


{% block body %}

    <section class="container-fluid banner-bp xs-background-none">
        <div class="d-flex justify-content-center align-items-center text-white text-uppercase fw-800 xs-page-main-title"
             style="height:220px;"><h1>Promotip</h1></div>
        <div class="input-group"></div>
    </section>

    <div class="container xs-mb-130">
        <div class="row">
            <div class="col-12 xs-ov-hidden">
                <p><h6 style="text-center">ALGEMENE VOORWAARDEN</h6>
                <br> De website: www.promo-tip.nl
                <br><br>(hierna het "Platform")
                <br>is een initiatief van: G.j.d. Administratie
                <br>________</p>
                <br>Adres: Pampa 3, 2330 Merksplas (België)
                <br>Ondernemingsnummer (KBO-nummer): BE0833.895.835
                <br>E-mail: info@promo-tip.nl
                <br>Telefoon: 0032494318256</p></div>

            <div class="col-12">
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">I.</span> ALGEMENE GEBRUIKSVOORWAARDEN</strong></p>

                    <br class="d-block d-xs-none"><br class="d-block d-xs-none"><p><strong class="xs-txt-brown">1. Toepassingsgebied</strong>
                        <br><br>Deze Algemene Gebruiksvoorwaarden zijn van toepassing op elk bezoek of gebruik van het Platform door een internetgebruiker (hierna de <strong>"Gebruiker"</strong> genoemd).</p>
                    <p>Door het Platform te bezoeken of te gebruiken, erkent de Gebruiker dat hij/zij deze Algemene Gebruiksvoorwaarden heeft gelezen en aanvaardt hij/zij uitdrukkelijk de daarin vermelde rechten en plichten.</p>
                    <p>Bij wijze van uitzondering kan bij schriftelijke overeenkomst afstand worden gedaan van de bepalingen van de Algemene Gebruiksvoorwaarden. Dergelijke afwijkingen kunnen bestaan in de wijziging, aanvulling of schrapping van de bepalingen waarop zij betrekking hebben en laten de toepassing van de overige bepalingen van de Algemene Gebruiksvoorwaarden onverlet.
                        Wij behouden ons het recht voor om onze Algemene Gebruiksvoorwaarden te allen tijde en zonder voorafgaande kennisgeving te wijzigen, maar wij verbinden ons ertoe ten opzichte van een Gebruiker de bepalingen toe te passen die van kracht waren op het moment dat de Gebruiker het Platform gebruikte.</p>

                    <p><strong class="xs-txt-brown">2. Platform</strong>
                        <br><br><u>a. Toegankelijkheid en navigatie</u>
                        <br>Wij nemen alle redelijke en noodzakelijke maatregelen om de goede werking, veiligheid en toegankelijkheid van ons Platform te waarborgen. Wij kunnen echter geen absolute werkingsgarantie bieden en onze handelingen moeten daarom worden beschouwd als zijnde gedekt door een middelenverbintenis.</p>
                    <p>Elk gebruik van het Platform is altijd op eigen risico van de Gebruiker. Wij zijn dus niet aansprakelijk voor schade die het gevolg kan zijn van eventuele storingen, onderbrekingen, defecten of zelfs schadelijke elementen op het Platform.</p>
                    <p>Wij behouden ons het recht voor om de toegang tot het Platform te beperken of de werking ervan te allen tijde te onderbreken, zonder voorafgaande kennisgeving.</p>
                    <p><u>b. Inhoud</u>
                        <br>G.j.d. Administratie bepaalt grotendeels de inhoud van het Platform en draagt grote zorg voor de informatie erop. Wij nemen alle mogelijke maatregelen om ons Platform zo volledig, accuraat en up-to-date mogelijk te houden, zelfs wanneer de informatie erover door derden wordt verstrekt. Wij behouden ons het recht voor om het Platform en de inhoud ervan op elk moment te wijzigen, aan te vullen of te verwijderen, zonder daartoe enige aansprakelijkheid te dragen.</p>
                    <p>G.j.d. Admnistratie kan geen absolute garantie bieden met betrekking tot de kwaliteit van de informatie op het Platform. Als gevolg hiervan is het mogelijk dat deze informatie niet altijd volledig, accuraat, voldoende accuraat of actueel is. Bijgevolg kan G.j.d. Administratie niet aansprakelijk worden gesteld voor enige schade, rechtstreeks of onrechtstreeks, die de Gebruiker zou kunnen lijden als gevolg van de op het Platform verstrekte informatie.</p>
                    <p>Als bepaalde inhoud van het Platform in strijd is met de wet of met de rechten van derden of in strijd is met de goede zeden, verzoeken wij elke Gebruiker ons zo snel mogelijk per e-mail op de hoogte te stellen, zodat we gepaste maatregelen kunnen nemen.</p>
                    <p>Elke download vanaf het Platform is altijd op eigen risico van de Gebruiker. G.j.d. Administratie is niet aansprakelijk voor schade, rechtstreeks of onrechtstreeks, die het gevolg is van dergelijke downloads, zoals het verlies van gegevens of schade aan het computersysteem van de Gebruiker, die de enige en exclusieve verantwoordelijkheid van de Gebruiker zijn.</p>

                    <p><u>c. Diensten gereserveerd voor geregistreerde Gebruikers</u></p>
                    <p><br>1) Registratie</p>
                    <p>De toegang tot bepaalde diensten is beperkt tot Gebruikers die de registratie op het Platform hebben voltooid.</p>
                    <p>Registratie en toegang tot de diensten van het Platform zijn uitsluitend voorbehouden aan natuurlijke personen en ondernemingen die juridisch bekwaam zijn, na het invullen en valideren van het registratieformulier dat online beschikbaar is op het Platform en na aanvaarding van deze Algemene Gebruiksvoorwaarden.</p>
                    <p>Op het moment van registratie verbindt de Gebruiker zich ertoe om correcte, volledige en actuele informatie over zichzelf te verstrekken. De Gebruiker moet ook regelmatig de gegevens die op hem/haar betrekking hebben, controleren om de juistheid ervan te waarborgen.</p>
                    <p>De Gebruiker moet dus een geldig e-mailadres opgeven, waarop het Platform hem/haar een bevestiging van de inschrijving tot onze diensten zal sturen. Een e-mailadres kan niet meer dan één keer worden gebruikt om zich in te schrijven voor de diensten.</p>
                    <p>Elke mededeling van het Platform en zijn partners wordt daarom geacht te zijn ontvangen en gelezen door de Gebruiker. Deze laatste verbindt zich er dan ook toe de berichten die hij op dit e-mailadres ontvangt regelmatig te raadplegen en, indien nodig, binnen een redelijke termijn te antwoorden.</p>
                    <p>Ook per persoon is slechts één registratie toegestaan.</p>
                    <p>De Gebruiker krijgt een identificatiecode toegewezen waarmee hij/zij toegang heeft tot een ruimte die voor hem/haar is gereserveerd (hierna de <strong>"Persoonlijke Ruimte"</strong>), mits het invoeren van zijn/haar wachtwoord.</p>
                    <p>De gebruikersnaam en het wachtwoord kunnen door de Gebruiker online worden gewijzigd in zijn of haar Persoonlijke Ruimte.</p>
                    <p>Het wachtwoord is persoonlijk en vertrouwelijk. De Gebruiker verbindt zich ertoe het niet aan derden mee te delen.</p>
                    <p>G.j.d. Administratie behoudt zich in ieder geval het recht voor om een verzoek tot registratie bij de diensten van het Platform te weigeren in geval van niet-naleving van deze Algemene Gebruiksvoorwaarden door de Gebruiker.</p>

                    <p>2) Uitschrijven
                    <p>De Gebruiker die regelmatig geregistreerd is, kan op elk moment verzoeken om zich uit te schrijven door naar de speciale pagina in zijn Persoonlijke Ruimte te gaan. Elke uitschrijving van het Platform zal zo snel als mogelijk nadat de gebruiker het daartoe bestemde formulier heeft ingevuld effectief zijn.</p>

                    <p><u>d. Inhoud gepubliceerd door de Gebruiker</u></p>
                    <p>De Gebruiker verbindt zich ertoe alle geldende en toepasselijke wetgeving (met inbegrip van, doch niet beperkt tot, de wetgeving inzake privacy en auteursrechten) na te leven via elk van zijn publicaties op het Platform. De Gebruiker zal bijzondere aandacht besteden aan de belangen van derden, aanstootgevende inhoud en inhoud die strijdig kan zijn met de openbare orde of de goede zeden. De Gebruiker blijft verantwoordelijk voor elke inhoud die op het Platform wordt gepubliceerd.</p>
                    <p>Het Platform kan gematigdheid betrachten bij elke publicatie en weigeren om de inhoud online te publiceren zonder opgave van redenen. Op dezelfde manier kan de inhoud die door een Gebruiker wordt gepubliceerd, zonder enige reden of termijn worden gewijzigd of verwijderd.</p>
                    <p>Door het publiceren op het Platform verleent de Gebruiker gratis en op niet-exclusieve basis aan G.j.d. Administratie het recht om de gepubliceerde inhoud te vertegenwoordigen, te reproduceren, te bewerken, aan te passen, te wijzigen, te verwijderen, te distribueren en te verspreiden, rechtstreeks of onrechtstreeks, op elk medium en over de hele wereld.</p>
                    <p><u>3. Links naar andere websites</u></p>
                    <p>Het Platform kan links of hyperlinks naar externe websites bevatten. Dergelijke links impliceren niet automatisch dat er een relatie bestaat tussen G.j.d. Administratie en de externe website of zelfs dat er een impliciete overeenkomst bestaat met de inhoud van deze externe websites.</p>
                    <p>G.j.d. Administratie heeft geen controle over dergelijke externe websites van derden.</p>
                    <p>Wij zijn daarom niet verantwoordelijk voor de veilige en correcte werking van de hyperlinks en hun eindbestemming. Zodra de gebruiker op de hyperlink klikt, verlaat hij/zij het Platform. Wij kunnen dus niet aansprakelijk worden gesteld voor verdere schade.</p>
                    <p><u>4. Intellectuele eigendom</u></p>
                    <p>De structuur van het Platform, evenals de inhoud, teksten, grafieken, beelden, foto's, geluiden, video's, databanken, computertoepassingen, enz. waaruit het Platform is samengesteld of die toegankelijk zijn via het Platform, zijn eigendom van G.j.d. Administratie, en worden als zodanig beschermd door de geldende en toepasselijke wetgeving inzake intellectuele eigendom.</p>
                    <p>Elke weergave, reproductie, aanpassing of gedeeltelijke of volledige exploitatie van de inhoud, merken en diensten aangeboden door het Platform, op welke wijze dan ook, zonder voorafgaande, uitdrukkelijke en schriftelijke toestemming van G.j.d. Administratie, is strikt verboden, met uitzondering van elementen die uitdrukkelijk als 'royalty-vrij' op het Platform zijn aangeduid.</p>
                    <p>De Gebruiker van het Platform krijgt een beperkt recht op toegang, gebruik en weergave van het Platform en de inhoud ervan. Dit recht wordt verleend op niet-exclusieve, niet-overdraagbare basis en mag alleen worden gebruikt voor persoonlijke doeleinden. Tenzij vooraf schriftelijk anders is overeengekomen, is het de Gebruiker niet toegestaan de beschermde elementen geheel of gedeeltelijk te wijzigen, te reproduceren, te vertalen, te distribueren, te verkopen of te communiceren aan het publiek.</p>
                    <p>Het is de Gebruiker verboden om op het Platform gegevens in te voeren die de inhoud of het uiterlijk van het Platform zouden wijzigen of kunnen wijzigen.</p>
                    <p><u>5. Bescherming van persoonsgegevens</u></p>
                    <p>Wij verzekeren de Gebruikers ervan dat wij het grootste belang hechten aan de bescherming van hun privacy en persoonsgegevens, en dat wij er altijd naar streven om op dit punt duidelijk en transparant te communiceren.</p>
                    <p>De persoonsgegevens die door de Gebruiker tijdens zijn bezoek of het gebruik van het Platform worden verstrekt, worden uitsluitend voor interne doeleinden verzameld en verwerkt door G.j.d. Administratie. <br>G.j.d. Administratie verbindt zich ertoe om te voldoen aan de toepasselijke wetgeving op dit gebied, in het bijzonder de Verordening (EU) 2016/679 van 27 april 2016 betreffende de bescherming van natuurlijke personen in verband met de verwerking van persoonsgegevens en betreffende het vrije verkeer van die gegevens (de 'Algemene Verordening Gegevensbescherming' of 'GDPR') en de Wet van 30 juli 2018 betreffende de bescherming van natuurlijke personen met betrekking tot de verwerking van persoonsgegevens.</p>
                    <p>De persoonsgegevens van de Gebruiker worden verwerkt in overeenstemming met het Privacybeleid dat beschikbaar is op het Platform.</p>
                    <p><u>6. Toepasselijk recht en bevoegde jurisdictie</u></p>
                    <p>Deze Algemene Gebruiksvoorwaarden worden beheerst door het Belgische recht.</p>
                    <p>In geval van geschil en bij gebreke van een minnelijke oplossing tussen de partijen wordt het geschil aanhangig gemaakt bij de rechtbanken van het gerechtelijk arrondissement waar G.j.d. administratie haar maatschappelijke zetel heeft.</p>
                    <p><u>7. Overige bepalingen</u></p>
                    <p>G.j.d. administratie behoudt zich het recht voor om het Platform en de bijhorende diensten op elk moment, zonder voorafgaande kennisgeving en zonder aansprakelijkheid, te wijzigen, uit te breiden, te verwijderen, te beperken of te onderbreken.</p>
                    <p>In het geval van een inbreuk op de Algemene Gebruiksvoorwaarden door de Gebruiker, behoudt G.j.d. Administratie zich het recht voor om passende sancties en compensatiemaatregelen te nemen. G.j.d. Administratie behoudt zich het recht voor om de Gebruiker de toegang tot het Platform of onze diensten tijdelijk of permanent te weigeren. Deze maatregelen kunnen zonder opgaaf van redenen en zonder voorafgaande kennisgeving worden genomen. Zij kunnen de aansprakelijkheid van G.j.d. Administratie niet met zich meebrengen, noch aanleiding geven tot enige vorm van schadevergoeding.</p>
                    <p>De onwettigheid of volledige of gedeeltelijke ongeldigheid van een bepaling van onze Algemene Gebruiksvoorwaarden zal geen invloed hebben op de geldigheid en toepassing van de andere bepalingen. In een dergelijk geval hebben we het recht om de bepaling te vervangen door een andere geldige bepaling die hetzelfde doel dient.</p>
                </div>
                <div class="border-radius-20 xs-box-gradborder xs-legals-page">
                    <br class="d-block d-xs-none"><p><strong class="page-subtitle"><span class="d-inlineblock d-xs-none">II.</span> ALGEMENE VERKOOPVOORWAARDEN</strong></p>
                    <p><u>1. Toepassingsgebied</u></p>
                    <p>Deze Algemene Verkoopvoorwaarden definiëren de wederzijdse rechten en verplichtingen in geval van de aankoop van producten of diensten op het Platform door een Gebruiker (die, voor wat betreft de Algemene Verkoopvoorwaarden, hierna "Klant" wordt genoemd).</p>
                    <p>De Algemene Verkoopvoorwaarden drukken alle verplichtingen van de partijen uit. De Klant wordt geacht deze zonder voorbehoud te aanvaarden, bij gebreke waarvan zijn bestelling niet zal worden gevalideerd.</p>
                    <p>Uitzonderingen op de bepalingen van de Algemene Verkoopvoorwaarden kunnen in uitzonderlijke gevallen worden gemaakt, op voorwaarde dat deze uitzonderingen schriftelijk zijn overeengekomen. Dergelijke afwijkingen kunnen bestaan in het wijzigen, toevoegen of schrappen van de bepalingen waarop zij betrekking hebben en laten de toepassing van de overige bepalingen van de Algemene Verkoopvoorwaarden onverlet.</p>
                    <p>G.j.d. Administratie behoudt zich het recht voor om de Algemene Verkoopvoorwaarden van tijd tot tijd te wijzigen. De wijzigingen zullen van toepassing zijn zodra ze online worden gezet voor elke aankoop na die datum.</p>
                    <p><u>2. Advertenties</u></p>
                    <p>Geregistreerde gebruikers kunnen advertenties plaatsen. Dergelijke advertenties zijn in principe gratis, maar de adverteerder kan zijn zichtbaarheid vergroten door advertenties te promoten.  De aangeboden producten of diensten hebben geen contractuele waarde.</p>
                    <p>De voorwaarden en kenmerken van onze dienstverlening zijn zoals voorgesteld op de website en zoals besteld door Gebruiker. G.j.d. Administratie kan te allen tijde de voorwaarden en kenmerken van haar diensten aanpassen aan de hand van de marktvraag en veranderende regelgeving. Advertenties worden gekenmerkt door hun beperkte publicatieduur en worden maximaal 1 maand gepubliceerd.</p>
                    <p>Advertenties die in strijd zijn met deze gebruiksvoorwaarden kunnen te allen tijde verwijderd worden zonder voorafgaande waarschuwing en/of kennisgeving. De verwijdering van een gebruikersprofiel kan eveneens de verwijdering van geplaatste advertenties impliceren. De adverteerder kan tenslotte ook de verwijdering van één of meerdere van zijn advertenties aanvragen. In geen van voorgaande gevallen heeft de adverteerder recht op terugbetaling.</p>
                    <p>De prijzen en belastingen zijn vermeld op de aankooppagina.</p>
                    <p><u>3. Prijs</u></p>
                    <p>De Verkoper behoudt zich het recht voor zijn prijzen te allen tijde te wijzigen door ze online te publiceren.</p>
                    <p>Enkel de aangegeven prijzen en de belastingen die van kracht zijn op het moment van de bestelling zijn van toepassing, onder voorbehoud van beschikbaarheid op die datum.</p>
                    <p>Alle prijzen worden uitgedrukt in EURO en zijn inclusief BTW en andere taksen. Kennelijke en/of overduidelijke fouten in onze prijs kunnen ook na de totstandkoming gecorrigeerd worden. Eventuele bijkomende kosten, zoals het gebruik van bepaalde betaalmethoden, worden steeds vooraf duidelijk aan de Gebruiker meegedeeld en vallen volledig voor diens rekening.</p>
                    <p>Het totale bedrag van de bestelling (alle belastingen inbegrepen) en, indien van toepassing, de leveringskosten worden vermeld vóór de definitieve validatie van de bestelling.  Bij online bestellingen kunnen via de gangbare geldige en internationaal aanvaarde elektronische betaalwijzen worden betaald. De gebruiksvoorwaarden van de gekozen aanbieder zijn dan eveneens van toepassing. Bijgevolg worden volgende betaalmiddelen geaccepteerd:</p>

                    <p><lu>
                            <li>Overschrijving</li>
                            <li>Mollie B.V.</li>
                        </lu></p>

                    <p>G.j.d. Administratie neemt alle redelijke maatregelen om de veiligheid van uw online transacties te verzekeren. De voornaamste bezorgdheden zijn verlies of diefstal van uw identiteits- of financiële gegevens. Het gebruik van bovenvermelde erkende betalingspartners verschaft deze noodzakelijke zekerheden. Het beveiligde systeem van Mollie staat in voor de verdere verwerking van de betaling. Dit gesloten beveiligingssysteem verwerkt uw bankgegevens steeds op versleutelde manier. De nodige beveiligingsmaatregelen via SSL worden voorzien.</p>
                    <p><u>4. Online bestellen</u></p>
                    <p>De Klant heeft de mogelijkheid om online een bestelling te vervolledigen met behulp van een elektronisch formulier. Door het invullen van het elektronische formulier aanvaardt de Klant de prijs en beschrijving van de producten of diensten.</p>
                    <p>Om zijn bestelling te valideren, moet de Klant deze Algemene Verkoopvoorwaarden aanvaarden door op de aangegeven plaats te klikken.</p>
                    <p>De Klant moet een geldig e-mailadres, factuurgegevens en, indien van toepassing, een geldig afleveradres opgeven. Elke communicatie met de Verkoper kan plaatsvinden via dit e-mailadres.
                        Bovendien moet de Klant de leveringswijze kiezen en de betalingswijze valideren.</p>
                    <p>De Verkoper behoudt zich het recht voor om de bestelling van de Klant te blokkeren in geval van niet-betaling, onjuist adres of enig ander probleem in hoofde van de Klant totdat het probleem is opgelost.</p>
                    <p><u>5. Bevestiging en betaling van de bestelling</u></p>
                    <p>De Klant verricht de betaling op het moment van de definitieve validatie van de bestelling met behulp van de gekozen betaalmethode. Deze validatie geldt in plaats van een handtekening.</p>
                    <p><u>6. Bewijs</u></p>
                    <p>De communicatie, bestellingen en betalingen tussen de Klant en de Verkoper kunnen worden bewezen door middel van geautomatiseerde records, die in de computersystemen van de Verkoper onder redelijke veiligheidsomstandigheden worden bewaard.</p>
                    <p>De bestellingen en facturen worden gearchiveerd op een betrouwbare en duurzame drager die in het bijzonder als bewijsmiddel wordt beschouwd.</p>
                    <p><u>7. Garanties</u></p>
                    <p>De Verkoper garandeert de conformiteit van de producten of diensten met het contract in overeenstemming met de op het moment van het sluiten van het contract geldende wetgeving.</p>
                    <p><u>8. Herroepingsrecht</u></p>
                    <p>Dit artikel is enkel van toepassing voor zover de Klant een consument is. Is dat het geval, dan kan de Klant zijn wettelijk herroepingsrecht uitoefenen en de overeenkomst ontbinden binnen 14 werkdagen na de levering (de inbezitneming) van de goederen of binnen 14 dagen na het sluiten van de dienstenovereenkomst.</p>
                    <p><u>a. Uitzonderingen op het herroepingsrecht</u></p>
                    <p>Elke herroeping die niet overeenkomstig de regels en termijnen van dit artikel en de toepasselijke wetgeving wordt uitgevoerd, kan niet in aanmerking worden genomen en ontslaat de Verkoper van elke aansprakelijkheid jegens de Klant.</p>
                    <p>Indien de bestelling geheel of gedeeltelijk betrekking heeft op de levering van digitale inhoud die niet op een materiële drager is geleverd, stemt de Klant er uitdrukkelijk mee in dat de overeenkomst meteen kan uitgevoerd worden. De Klant erkent hierbij dat hij of zij het herroepingsrecht verliest indien de overeenkomst meteen wordt uitgevoerd.</p>
                    <p>Indien de bestelling geheel of gedeeltelijk betrekking heeft op de levering van diensten, dan stemt de Klant er uitdrukkelijk mee in dat de Verkoper de diensten meteen kan uitvoeren. De Klant erkent hierbij afstand te doen van zijn herroepingsrecht van zodra de Verkoper de overeenkomst volledig heeft uitgevoerd.</p>
                    <p><u>9. Gegevensbescherming</u></p>
                    <p>De Verkoper zal in zijn computersystemen en onder redelijke veiligheidsvoorwaarden het bewijs van de transactie, met inbegrip van de aankooporder en de factuur, bewaren.</p>
                    <p>De Verkoper garandeert zijn Klant de bescherming van zijn persoonlijke gegevens in overeenstemming met het Privacybeleid dat beschikbaar is op het Platform.</p>
                    <p><u>10. Overmacht</u></p>
                    <p>Indien de Verkoper geheel of gedeeltelijk verhinderd is de bestelling uit te voeren door een onvoorziene omstandigheid buiten zijn wil, is er sprake van overmacht.</p>
                    <p>In geval van overmacht heeft de Verkoper het recht om de uitvoering van de bestelling geheel of gedeeltelijk op te schorten voor de duur van de overmacht. De Verkoper zal de Klant hiervan onmiddellijk op de hoogte brengen.</p>
                    <p>De aansprakelijkheid van G.j.d. Administratie kan nooit in het gedrang komen ten gevolge van de gevallen van overmacht. Onder overmacht verstaat men elke plotse, onvoorzienbare gebeurtenis onafhankelijk van de wil van de partijen die de uitvoering van de verbintenissen van G.j.d. Administratie onmogelijk maakt. G.j.d. Administratie is in deze gerechtigd om haar verplichtingen ten aanzien van de Bezoekers op te schorten gedurende de duur van de overmacht.</p>
                    <p>Specifieke ICT-defecten kunnen eveneens onder de definitie van overmacht vallen, hierbij denkende aan defecten aan de server, onvoldoende communicatie-infrastructuur, ontoereikende software en hardware van de klant. Deze opsomming is louter indicatief en zeker niet limitatief.</p>
                    <p><u>11. Onafhankelijkheid van de bepalingen</u></p>
                    <p>Indien een of meer bepalingen van deze Algemene Verkoopvoorwaarden onwettig of nietig worden verklaard, blijven de overige bepalingen volledig van kracht.</p>
                    <p>De onwettigheid of de gehele of gedeeltelijke ongeldigheid van een bepaling van deze Algemene Verkoopvoorwaarden doet geen afbreuk aan de geldigheid en de toepassing van de andere bepalingen.</p>
                    <p>De Verkoper behoudt zich het recht voor om de onwettige of ongeldige bepaling te vervangen door een andere geldige bepaling met gelijk doel.</p>
                    <p><u>12. Toepasselijk recht en bevoegde rechtbank</u></p>
                    <p>Deze Algemene Verkoopvoorwaarden worden beheerst door het Belgische recht.</p>
                    <p>In geval van geschil en bij gebrek aan een minnelijke oplossing ervan zal het geschil worden voorgelegd aan de rechtbanken van het gerechtelijk arrondissement van de maatschappelijke zetel van de Verkoper.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}